<html>
<head>
        <title>Le Blog de lilice</title>
</head>
<body>
        <div>
            <h1><a href="">Bienvenue sur mon Blog</a></h1>
        </div>

        <div>
            <p>published: 04.03.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>j'ai une petite chatte qui s'appelle Capsule.</p>
        </div>

        <div>
            <p>published: 04.03.2018, 12:14</p>
            <h2><a href="">Mon second post</a></h2>
            <p>IL y a de la neige dehors</p>
        </div>
    </body>
</html>
